* {font-family: "Avenir", sans-serif}

header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#logo {
    height: 8vw;
    width: 8vw;
    align-self: center;
    margin-left: 1vw;
}

h1 {
    align-self: center;
    font-size: 4vw;
    font-weight: lighter;
    flex-grow: 1;
    color: grey;
    margin-left: 1vw;
}

#user {
    height: 7vw;
    width: 6vw;
    align-self: center;
    margin-right: 1vw;
}

#option {
    align-self: center;
    height: 6vw;
    width: 6vw;
    margin-right: 1vw;
}

nav{
    text-align: center;
    background-color: #9ae7cd;

}

.dropbtn {
    background-color: #9ae7cd;
    color: white;
    padding: 1vw;
    font-size: 1.5vw;
    border: none;

}

.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1.5vw;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: lightgray;}

main {


    justify-content: center;
    text-align: center;

}

#textOptions button, #textOptions2 button, #countryDropdown, label, #submitButton {
    height: 2vw;
    width: 7vw;
    color: grey;
    font-size: 1vw;

}
#title {
    font-size: 1vw;

    height: 3vw;
    width: 55vw;
    order: 2;
    margin: 2vw 1vw 1vw 1vw;

}

#secondRow {
    display: flex;
}


#blog{
    font-size: 1vw;
    color: grey;
    height: 30vw;
    width: 60vw;
    order: 2;
    margin: 1vw 1vw 1vw 1vw;
}

#ad1 {
    border-style: solid;
    border-color: black;
    order: 1;
    width: 20vw;
    margin: 1vw 1vw 1vw 1vw;
    font-size: 5vw;

}
#ad2 {
    order: 3;
    border-style: solid;
    border-color: black;
    width: 20vw;
    margin: 1vw 1vw 1vw 1vw;
    font-size: 5vw;







}
