* {font-family: "Avenir", sans-serif}

body { margin: 0}

header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

a {display: flex;
    justify-content: space-between;
    align-items: stretch;
}
#logo {
    height: 8vw;
    width: 8vw;
    align-self: center;
    margin-left: 1vw;
    min-width: 100px;
    min-height: 100px;
}
#holifyTitle {
    align-self: center;
    font-size: 4vw;
    font-weight: lighter;
    color: grey;
    margin-left: 1vw;
}
#order2 {
    flex-grow: 1;
    align-self: center;
}
#user {
    height: 7vw;
    width: 6vw;
    align-self: center;
    margin-right: 3vw;
}

#option {
    align-self: center;
    height: 4vw;
    width: 4vw;
    margin-right: 1vw;
}
nav{
    text-align: center;
    background-color: #9ae7cd;
}
.dropbtn {
    background-color: #9ae7cd;
    color: white;
    padding: 1vw;
    font-size: 1.5vw;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
    cursor: pointer;


}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: lightgray;}



#searchbarDIV {
    justify-content: center;
    text-align: center;
}

#blogBody {
    margin-left: 10vw;
}

#libraryTitle {
    font-size: 5vw;
}

address {
    bottom: 0;
    font-size: 0.75vw;
}

@media (max-width: 800px) {
    #titleBar {
        flex-direction: column;
        align-self: center;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #title,#user {
        max-width: 50vw
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    #logo {
        height: 8vw;
        width: 8vw;
        align-self: center;
        margin-left: 1vw;
        min-width: 100px;
        min-height: 100px;
    }

    #holifyTitle {

        align-self: center;
        font-size: 10vw;
        font-weight: lighter;
        color: grey;
        margin-left: 1vw;
    }

    #order2 {
        flex-grow: 1;
        align-self: center;
    }

    #user {
        height: 10vw;
        width: 8vw;
        align-self: center;
        margin-right: 5vw;
    }

    #option {
        align-self: center;
        height: 8vw;
        width: 8vw;
        margin-right: 1vw;
    }

    .dropbtn {
        background-color: #9ae7cd;
        color: white;
        padding: 1vw;
        font-size: 5vw;
        border: none;
        cursor: pointer;
    }

    address {
        bottom: 0;
        font-size: 2vw;
    }
}
