@font-face {
    font-family: 'Avenir';
    src: url('resources/fonts/Avenir.woff') format('woff');
}
* {font-family: "Avenir", sans-serif}

body {
    margin: 0;
    background-color: #9ae7cd;
}

nav {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: white;
    font-family: Avenir;
    font-size: 1.5em;
    color: grey;
    z-index: 1;
}

#navText {
    position: absolute;
    top: 9px;
    left: 90px;
}

#logo {
    width: 70px;
    margin-left: 10px;
    margin-top: 10px;
}
#userIconContainer{
    position: absolute;
    top: 12px;
    right: 80px;
}
#user {
    height: 70px;
}
#options {
    height: 56px;
    position: absolute;
    right: 10px;
    top: 18px;
}
#usernameNav{
    font-family: Avenir;
    color: grey;
    position: relative;
    top: -30px;
    left: 5%;
    font-size: small;
}

#bar {
    position: absolute;
    height: 10px;
    width: 100%;
    top: 90px;
    background-color: #9ae7cd;
}

/*-----------------------------*/

#searchbarDIV{
    position: absolute;
    border-radius: 20px;
    top: 120px;
    width: 50%;
    height: 30px;
    left: 25%;
}
#searchbar{
    position: absolute;
    transform: translate(-50%, 0);
    top: 0px;
    left: 50%;
    border: none;
    height: 26px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
}
#headlines{
    position: absolute;
    top: 200px;
    width: 68%;
    height: 70%;
    overflow: auto;
    left: 16%;
    display: flex;
    flex-direction: column;
}

button{
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    font-family: Avenir;
    background-color: white;
    color: grey;
}
div[id$='collapse']{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 2%;
    padding: 10px;
    font-family: Avenir;
    color: grey;
}
button[id$='delete']{
    background-color: #ebebeb;
    position: absolute;
    border-radius: 5px;
    height: 20px;
    top: 2%;
    right: 1%;
}
#openEditor{
    position: absolute;
    right: 10px;
    top: 120px;
    height: 30px;
}

/*--------------------------*/

@media only screen and (min-width: 500px) {
    #headlines{
        width: 58%;
        left: 21%;
    }
    button{
        height: 50px;
    }
    #searchbar{
        width: 50%;
    }
}