* {font-family: "Avenir", sans-serif}

body { margin: 0}

#header {
    grid-area: n;
    width: 100%;
    height: 110px;
    background-color: white;
    font-size: 1.8em;
    color: grey;

}
#navText {
    position: absolute;
    top: -25px;
    left: 120px;

}
#logo {
    width: 80px;
    margin-left: 15px;
    margin-top: 15px;
}
#user2 {
    height: 70px;
    position: absolute;
    top: 20px;
    right: 80px;
}
#options {
    height: 56px;
    position: absolute;
    right: 10px;
    top: 25px;
}

#image {
    width: 80px;
    margin-left: 15px;
    margin-top: 15px;

}
nav{
    text-align: center;
    background-color: #9ae7cd;
}
.dropbtn {
    background-color: #9ae7cd;
    color: white;
    padding: 1vw;
    font-size: 1.5vw;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
    cursor: pointer;


}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: lightgray;}



#searchbarDIV {
    justify-content: center;
    text-align: center;
}
#searchButton {
    margin-top: 1vw;
    background-color: #9ae7cd;
    color: white;
    border-style: hidden;
    font-size: medium;
    cursor: pointer;
}
#headlines {
    display: grid;
    margin-right: 10vw;
    margin-left: 10vw;
}

.collapsible {
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #9ae7cd;
    border-radius: 10px;
    border-style: hidden;
    font-size: medium;
    cursor: pointer;
    display: flex;
}
.content {
    padding: 0 18px;

    overflow: hidden;
    background-color: lightgrey;
    border-radius: 10px;
    transition: all 0.3s;

}
#libraryTitle {
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
 }
#blogBody {
    margin-left: 10vw;
    margin-right: 10vw;
}

#authorBlock, #timeBlock  {
    display: flex;
    font-style: italic ;
    font-size: 1vw;
}



#libraryContent {
    padding-top: 1vw;
}

address {
    bottom: 0;
    font-size: 0.75vw;
}

@media (max-width: 800px) {
    #titleBar {
        flex-direction: column;
        align-self: center;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #title,#user {
        max-width: 50vw
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    #logo {
        height: 80px;
        width: 80px;
        align-self: center;
        margin-left: 1vw;

    }

    #holifyTitle {

        align-self: center;
        font-size: 8vw;
        color: grey;
        margin-left: 1vw;
    }

    #order2 {
        flex-grow: 1;
        align-self: center;
    }

    #user {
        height: 20vw;
        width: 18vw;
        align-self: center;
        margin-right: 3vw;
    }

    #option {
        align-self: center;
        height: 18vw;
        width: 18vw;
        margin-right: 1vw;
    }

    .dropbtn {
        background-color: #9ae7cd;
        color: white;
        padding: 1vw;
        font-size: 5vw;
        border: none;
        cursor: pointer;
    }

    #authorBlock, #timeBlock  {
        font-size: 3vw;
    }

    #libraryTitle {
        font-size: 8vw;
    }
    #libraryTime, #libraryUser {
        font-size: 3vw;
    }

    address {
        bottom: 0;
        font-size: 2vw;
    }
}
