/* -----------------------------------   Overall   --------------------------------- */

@font-face {
    font-family: 'Avenir';
    src: url('resources/fonts/Avenir.woff') format('woff');
}
* {font-family: "Avenir", sans-serif}

body { margin: 0}

/* -----------------------------------   Header   --------------------------------- */

header {
    display: flex;
    width: 100%;
    height: 110px;
    background-color: white;
    font-size: 1.8em;
    color: grey;
    text-align: center;
}

/* -----------------------------------   Nav   --------------------------------- */

#navText {
    left: 120px;
    margin-left: 10px;
    align-self: center;
    border-radius: 15px ;
}
#logo {
    width: 80px;
    margin-left: 15px;
    margin-top: 15px;
}
#user2 {
    height: 70px;
    position: absolute;
    top: 20px;
    right: 80px;
}
#options {
    height: 56px;
    position: absolute;
    right: 10px;
    top: 25px;
}
#image {
    width: 80px;
    margin-left: 15px;
    margin-top: 15px;
}

/* -----------------------------------   Main   --------------------------------- */

main {
    display: grid;
    justify-content: center;
    text-align: center;
    background: #9ae7cd;

}

label {
    font-size: larger;
    color: grey;

    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 12px;
    background: white;
    margin-bottom: 5px;
    border: black;
    border-width: thin;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#title {
    border-radius: 12px;
}

form {
    text-align: center;
    justify-content: center;
    width: 100%;

}


.tox-statusbar__branding{visibility: hidden}

/* -----------------------------------   Textarea   --------------------------------- */

#title, #user {
    width: 50vw
}

/* -----------------------------------   Tags   --------------------------------- */

#tags {
    background: white;
    border-radius: 12px;
}
.input-container label {
    height: 0;
    position: absolute;
    visibility: hidden;
}
.tag {
    color: white;
    background-color: #9ae7cd;
    border-width: 1px;
    border-style: groove;
    border-color: #9ae7cd;
    border-radius: 12px;
    margin-right: 1px;
}

#tag-container {
    padding-bottom: 5px;
}
.remove-tag {
    color: white;
    margin-left: 1vw;
    cursor: pointer;
}

/* -----------------------------------   Buttons   --------------------------------- */

#submitButton, #add-button {
    margin-top: 1vw;
    background-color: #9ae7cd;
    color: white;
    border-style: hidden;
    font-size: medium;
    cursor: pointer;
}
#submitButton {
    height: 3vw ;
    width: 10vw;
}
address {
    bottom: 0;
    font-size: 15px;
}

/* -----------------------------------   Mobile Version   --------------------------------- */

/* -----------------------------------   Header   --------------------------------- */

@media (max-width: 800px) {

    #header {
        display: flex;
        text-align: center;
        justify-content: space-between;

    }

    #logo {
        height: 80px;
        width: 80px;
        align-self: center;
        margin-left: 1vw;
    }
    #userIcon {
        height: 20vw;
        width: 18vw;
        align-self: center;
        margin-right: 3vw;
    }
    #option {
        align-self: center;
        height: 18vw;
        width: 18vw;
        margin-right: 1vw;
    }

    /* -----------------------------------   Nav   --------------------------------- */

    #navText {
        font-size: 43px;
        margin-left: -45px;
    }
    /* -----------------------------------   Button   --------------------------------- */

    #title {width: 98%;
    }

    /* -----------------------------------   Button   --------------------------------- */

    #submitButton {
        margin-top: 2vw;
        background-color: #9ae7cd;
        color: white;
        height: 10vw;
        width: 20vw;
        border-style: hidden;
        font-size: medium;
        cursor: pointer;
    }

    /* -----------------------------------   Address   --------------------------------- */

    address {
         bottom: 0;
         font-size: 2vw;
     }
}