* {font-family: "Avenir", sans-serif}

body {
    margin: 0;
    background-color: #9ae7cd;
    color: gray;
    display: grid;
    grid-template-areas:
    "n n"
    "n n"
    "m m"
    "f f";
}

/* -----------------------------------   Nav   --------------------------------- */

nav {
    grid-area: n;
    width: 100%;
    height: 110px;
    background-color: white;
    font-size: 1.8em;
    color: grey;
}
#navText {
    position: absolute;
    top: -10px;
    left: 120px;
    font-weight: lighter;
}
#logo {
    width: 80px;
    margin-left: 15px;
    margin-top: 15px;
}
#user {
    height: 70px;
    position: absolute;
    top: 12px;
    right: 80px;
}
#options {
    height: 56px;
    position: absolute;
    right: 10px;
    top: 18px;
}
/* -----------------------------------   Main   --------------------------------- */
main {
    grid-area: m;
    height: 100%;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;

}
#worldMap {
    display: flex;
    width: 100%;
    height: 1100px;
    overflow: hidden;
    align-self: center;

}


/* -----------------------------------   Footer   --------------------------------- */

footer {
    grid-area: f;
    font-size: small;
    margin: 15px;
}

/* -----------------------------------   PopUp  --------------------------------- */


#tip {
    position: absolute;
    text-align: center;
    font-family: Avenir, sans-serif;
    color: grey;
    opacity: 60%;
    height: 24px;
    border-radius: 30px;
    border: none;
    padding-top: 6px;
}
#searchText {
    position: absolute;
    height: 24px;
    border-radius: 30px;
    border: none;
    text-align: center;
    font-weight: bold;
    color: grey;
    padding-top: 8px;
}
::placeholder {
    color: lightgray;
}
#backUp {
    position: absolute;
    width: 15%;
}
#popup {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 80px;
    opacity: 70%;
}
.citiesBox {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    text-align: center;
}
#citiesDiv > a {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 3;
    color: grey;
}
#errorMessage {
    font-size: 1.5em;
    line-height: 1.7;
    color: grey;
}

/* https://stackoverflow.com/questions/12499886/how-to-hide-or-disable-the-google-logo-footer-copyright-on-google-maps-javascr */

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gm-bundled-control .gmnoprint {
    display: block;
}
.gmnoprint:not(.gm-bundled-control) {
    display: none;
}

#progBar {
    position: absolute;
    width: 100px;
    opacity: 80%;
    left: 48%;
    top: 35%;
}

#warning {
    position: absolute;
    font-family: 'Avenir', sans-serif;
    font-size: 30px;
    color: grey;
    top: 50px;
    left: 50px;
}
