body {
    background-color: #ffffff;
}

#logo {
    position: absolute;
    width: 30%;
    left: 35%;
    top: 30%;
}

#font {
    position: absolute;
    width: 30%;
    left: 36.5%;
    top: 42%;
    font-family: Avenir;
    color: grey;
    font-size: 30px;
}

.font {
    display: flex;
    alignment: center;
    text-align: center;
    width: 100%;
}

@media only screen and (min-width: 500px){

    #logo{
        position: fixed;
        width: 160px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%);
    }
    #font{
        text-align: center;
        font-size: 30pt;
        transform: translate(-5%, 40%);
    }
}