* {font-family: "Avenir", sans-serif}


body {
    margin: 0;
    background-color: #9ae7cd;
    color: gray;
    display: grid;
    grid-template-areas:
    "n n"
    "n n"
    "m m"
    "a a"
    "f f";
}

@media (min-width: 642px) {
    body {
        grid-template-areas:
        "n n n"
        "a m m"
        "f f f";
    }
}

/* -----------------------------------   Nav   --------------------------------- */

nav {
    grid-area: n;
    width: 100%;
    background-color: white;
    font-family: Avenir;
    font-size: 1.5em;
    color: grey;
    /*opacity: 0;*/
}
#navText {
    position: absolute;
    top: 1.1%;
    left: 10%;
}
#logo {
    width: 18%;
    margin-left: 10px;
    margin-top: 10px;
}
#user {
    width: 50px;
    position: absolute;
    top: 2vw;
    left: 85vw;
}
#options {
    width: 50px;
    alignment: right;
    position: absolute;
    left: 92vw;
    top: 2.5vw;
}
#logo {
    height: 4vw;
    width: 4vw;
    align-self: center;
    margin-left: 1vw;
    min-width: 100px;
    min-height: 100px;
}

--------------------------------------------------------------

main {
    grid-area: m;
    background-color: #9ae7cd;
    margin-right: 25px;
    margin-top: 25px;
}

#WorldMap{
    width: 100%;
    padding-top: 30px;
}

aside {
    width: 55%;
    grid-area: a;
    background-color: white;
    margin: 50px;
    border-radius: 20px;
    border-color: gray;
    padding: 1em 3em;
    color: gray;

}

#PlanTrip{
    align-content: center;
    border-color: lightgray;
    color: gray;
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: lighter;
}

h2 {
    text-align: center;
    padding-bottom: 1rem;
    font-weight: lighter;

}



footer {
    grid-area: f;
    font-size: small;
    margin: 15px;
}
/*header {
    grid-area: h;
    background-color: white;
    font-size: 4vw;
    font-weight: lighter;
    color: lightgray;
}

div {
    display: inline-grid;
    justify-content: space-between;
    align-items: stretch;


}

nav {
    grid-area: n;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;
}

li {
    display: inline-block;
}

select {
    align-content: center;
    border-color: lightgray;
    color: gray;
    border-radius: 40px;
    padding: 10px;
    font-size: large;
    font-weight: lighter;

}


#logo {
    height: 4vw;
    width: 4vw;
    align-self: center;
    margin-left: 1vw;
    min-width: 100px;
    min-height: 100px;
}

main {
    grid-area: m;
    background-color: #9ae7cd;
    margin-right: 25px;
    margin-top: 25px;
}

#WorldMap{
    width: 100%;
}

aside {
    width: 55%;
    grid-area: a;
    background-color: white;
    margin: 50px;
    border-radius: 20px;
    border-color: gray;
    padding: 1em 3em;
    color: gray;

}

#PlanTrip{
    align-content: center;
    border-color: lightgray;
    color: gray;
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: lighter;
}

h2 {
    text-align: center;
    padding-bottom: 1rem;
    font-weight: lighter;

}



footer {
    grid-area: f;
    font-size: small;
    margin: 15px;
}

*/